/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Alexis Leffew
   Date: 2.1.17

   Filename: mw_layout.css
   Supporting Files: none

*/

body {
  font-family: Tahoma, Geneva, sans-serif;
}

#articleheader {
  font-size: 18px;
  font-style: none;
  letter-spacing: 7px;
  text-align: center;
}

nav ul {
  background-color: rgb(125, 120, 89);
  line-height: 3em;
  list-style-type: none;
}

nav li a {
  color: #FFFFFF, rgba(255, 255 ,255, 1);
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(131, 121, 36);
  list-style-image: url(wheelmarker.png);
}

nav ul a:hover {
  color: yellow;
  color: rgb(255, 255 ,255);
}
